@import url("https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;600;700;800 & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* font-family: 'Bebas Neue', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0a497b;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: url(imagenes/background.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  position: fixed;
  background-color: #00bfff5b;
}

.logo {
  font-size: 24px;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #ffffff;
  display: block;
}

.menu .navbar ul li a:hover {
  color: #000000;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.header-txt {
  text-align: center;
  margin-bottom: 45pxs;
}

.header-txt h1,
span,
h3 {
  font-size: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  color: #ffffff;
  margin-bottom: 15px;
}

.header-txt h1 {
  margin-top: 40px;
}

.header-txt span {
  font-size: 25px;
}

.header-txt p {
  color: #ffffff;
  padding: 0 250px;
  margin: 25px 0;
}

.btn-1 {
  display: inline-block;
  padding: 11px 25px;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  margin: 25px 0;
  border: 0;
}

.btn-1:hover {
  background-color: #afafaf;
}

.header-dir {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 20px;
}

h2 {
  font-size: 90px;
  line-height: 100px;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
  margin-bottom: 20px;
  color: #ffffff;
}

p {
  font-size: 16px;
  margin: 25px 0;
  color: #ffffff;
}

.personal-container {
  padding: 100px 0;
  text-align: center;
}

.personal-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}

.personal-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.personal-1 {
  text-align: center;
}

.personal-1 img {
  width: 250px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.personal-1 h3 {
  font-size: 19px;
  margin-left: 25px;
}

.personal-1 p {
  padding: 0 50px;
  font-size: 20px;
}

.campo-1 {
  margin-bottom: 15px;
}

.campo {
  margin: 5px;
  padding: 20px 15px;
  width: 250px;
  background-color: #ffffff;
  border: 1px solid;
  outline: none;
  border-radius: 10px;
  font-size: 14px;
}

textarea {
  width: 520px !important;
}

.footer-txt {
  text-align: center;
  padding: 10px;
  background-color: #00aae4;
}

@media (max-width: 991px) {
  .menu {
    padding: 20px;
  }

  .menu label {
    display: initial;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #1f1f1f;
    display: none;
  }

  .menu .navbar ul li {
    width: 100%;
  }

  #menu:checked ~ .navbar {
    display: initial;
  }

  .header {
    min-height: 0vh;
  }

  .header-content {
    padding: 80px 30px 50px 30px;
  }

  .header-txt {
    margin-bottom: 15px;
  }

  .header-txt h1 {
    font-size: 90px;
  }

  .header-txt p {
    padding: 0;
    margin: 15px 0;
  }

  .header-dir {
    flex-direction: column;
  }

  .dir p {
    font-size: 18px;
  }

  .welcome-2 {
    display: 100%;
    padding: 30px;
    text-align: center;
  }

  h2 {
    font-size: 70px;
    line-height: 80px;
  }

  p {
    margin: 15px 0;
  }

  .personal-container {
    padding: 30px;
  }

  .personal-group {
    flex-direction: column;
    margin-bottom: 0;
  }

  .personal-1 {
    margin-bottom: 25px;
  }

  .footer-bg {
    padding: 30px;
  }

  textarea {
    width: 250px !important;
  }
}
